*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  background-color: lightgrey;
}

.container{
  width: 75%;
  margin: 20px auto;
}

header{
  width: 100%;
  height: 35vh;
}
.header-top{
  width: 100%;
  height: 50%;
  border-bottom: 1px solid black;
  background-color: white;
}

.header-top-left{
  position: relative;
  width: 30%;
  height: 100%;
  float: left;
}

#language{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }
  #language i{
    padding: 10px;
  }

.header-top-right{
  width: 30%;
  height: 100%;
  float: right;
}

.header-bottom{
  width: 100%;
  height: 50%;
  background-color: white;
}

.main-image{
  width: 100%;
  height: 90vh;
  background-color: brown;
  border-bottom: 50px solid blue;
}

.horizontal-blocks{
  width: 100%;
  height: 70vh;
  background-color: orange;
}
.first-hor-block{
  margin: auto;
  width: 85%;
  height: 50%;
  background-color: green;
}
.second-hor-block{
  width: 85%;
  height: 50%;
  margin: auto;
  background-color: yellow;
}

.vertical-blocks{
  width: 100%;
  height: 70vh;
  padding: 0 60px;
  background-color: orange;
}
.vertical-blocks::after{
  content: "";
  display: table;
  clear: both;
}

.ver-block{
  width: 31%;
  height: 90%;
  margin: 10px 10px;
  background-color: blue;
  float: left;
}

.table{
  width: 100%;
  height: 85vh;
  background-color: red;
}
.top-table{
  width: 100%;
  height: 30%;
  border-bottom: 1px solid blue;
}
.bottom-table{
  width: 100%;
  height: 70%;
}

.last-block{
  width: 100%;
  height: 85vh;
  background-color: grey;
}
.last-block-top{
  width: 100%;
  height: 35%;
  background-color: yellow;
}
.last-block-top::after{
  content: "";
  display: table;
  clear: both;
}
.top-left{
  width: 40%;
  height: 100%;
  background-color: blue;
  float: left;
}
.top-right{
  width: 60%;
  height: 100%;
  background-color: pink;
  float: left;
}
.last-block-bottom{
  width: 100%;
  height: 65%;
  background-color: orange;
}
.last-block-bottom::after{
  content: "";
  display: table;
  clear: both;
}

.bottom-left{
  width: 40%;
  height: 100%;
  background-color: red;
  float: left;

}
.bottom-right{
  width: 60%;
  height: 100%;
  background-color: yellow;
  float: left;
}

footer{
  width: 100%;
  padding-top: 10px;
  height: 60vh;
  background-color: green;
}
.elenchi{
  width: 70%;
  height: 75%;
  margin: auto;
  background-color: brown;
}
.elenchi::after{
  content: "";
  display: table;
  clear: both;
}
.list{
  width: 25%;
  height: 100%;
  background-color: lightblue;
  border: 1px solid black;
  float: left;
}
.bottom-footer{
  width: 80%;
  height: 25%;
  margin: auto;
  background-color: pink;
}
