*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #33475B;
}

header{
  background-color: #FFF3EE;
}

p{
  padding-top: 30px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
}

.contenitore70{
  height: 100%;
  width: 70%;
  margin: 0px auto;
}

.contenitore85{
  width: 85%;
  height: 50%;
  margin: auto;
}



.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.list-inline{
  height: 100%;
  list-style: none;
}
.list-inline li{
  height: 100%;
  line-height: 79px;
  display: inline-block;
  padding: 0 10px;
}
.list-inline li:first-child{
  padding-left: 0;
}
.list-inline li:last-child{
  padding-right: 0;
}
.list-inline a{
  text-decoration: none;
  color: #33475B;
}
.list-inline a:hover{
  text-decoration: underline;
}
#search{
  color: #75CAD9
}
.bottom-style{
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #FE775A;
  border-radius: 5px;
}
a.bottom-style:hover{
  text-decoration: none;
}
a.bottom-style-orange{
  background-color: #FE775A;
  color: white;
}
a.bottom-style-white{
  background: white;
  color: #FE775A;
}
a.bottom-style-orange-big{
  padding: 20px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}

.header-top{
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  z-index: 2;
}
.header-top-left{
  float: left;
  height: 100%;
}
.header-top-left li a{
  padding-right: 20px;
  border-right: 1px solid #33475B;
}
.header-top-left li:last-child a{
  border-right: 0;
}
.header-top-right{
  float: right;
  height: 100%;
}
.header-bottom{
  margin-top: 80px;
  height: 80px;
  width: 100%;
  background-color: white;
}
.header-bottom-left{
  float: left;
  height: 100%;
}
#logo{
  max-width: 100px;
  padding-top: 25px;
}
.header-bottom-right{
  float: right;
  height: 100%;
  padding-bottom: 50px;
}
.header-bottom-right i{
  padding-left: 15px;
}

#jumbotron{
height: 695px;
background-image: url('../img/jumbotron.png');
background-position: right;
background-repeat: no-repeat;
}
.text-jumbotron{
  width: 60%;
  height: 400px;
  padding-top: 30px;
}
.text-jumbotron h1{
  font-size: 45px;
  color: #33475B;
}

.text-jumbotron span{
  display: block;
  font-size: 10px;
}

.powerful{
  height: 1000px;
  background-color: #F4F9FD;
  color: #33475B;
  text-align: center;
}
.image{
  width: 263px;
  height: 197px;
  margin: 35px auto;
  background-color: #F4F9FD;
  background-image: url("../img/integrations.png");
  background-size: contain;
}
