*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #33475B;
  background-color: #F4F9FD;
}

header{
  background-color: #FFF3EE;
}

p{
  padding-top: 30px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
}

li > i{
  color: #FE775A;
  margin-right: 10px;
}

/* NOTE: CONTENITORI */
.contenitore70{
  height: 100%;
  width: 70%;
  margin: 0px auto;
}

.contenitore85{
  width: 85%;
  height: 100%;
  margin: auto;
}


/* NOTE: /FINE CONTENITORI */


.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* NOTE: LISTE MENU' HEADER */
.list-inline{
  height: 100%;
  list-style: none;
}
.list-inline li{
  height: 100%;
  line-height: 79px;
  display: inline-block;
  padding: 0 10px;

}
.list-inline li:first-child{
  padding-left: 0;
}
.list-inline li:last-child{
  padding-right: 0;
}
.list-inline a{
  text-decoration: none;
  color: #33475B;
}
.list-inline a:hover{
  text-decoration: underline;
}
#search{
  color: #75CAD9
}
/* NOTE: /LISTE MENU' HEADER */

/* NOTE: PULSANTI */
.bottom-style{
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #FE775A;
  border-radius: 5px;
}
a.bottom-style:hover{
  text-decoration: none;
}
a.bottom-style-orange{
  background-color: #FE775A;
  color: white;
}
a.bottom-style-white{
  background: white;
  color: #FE775A;
}
a.bottom-style-orange-big{
  padding: 20px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}
/* NOTE: /PULSANTI */

/* NOTE: HEADER */
.header-top{
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  z-index: 2;
}
.header-top-left{
  float: left;
  height: 100%;
}
.header-top-left li a{
  padding-right: 20px;
  border-right: 1px solid #33475B;
}
.header-top-left li:last-child a{
  border-right: 0;
}
.header-top-right{
  float: right;
  height: 100%;
}
.header-bottom{
  margin-top: 80px;
  height: 80px;
  width: 100%;
  background-color: white;
}
.header-bottom-left{
  float: left;
  height: 100%;
}
#logo{
  max-width: 100px;
  padding-top: 25px;
}
.header-bottom-right{
  float: right;
  height: 100%;
  padding-bottom: 50px;
}
.header-bottom-right i{
  padding-left: 15px;
}
/* NOTE: /HEADER */

/* NOTE: JUMBOTRON */
#jumbotron{
height: 695px;
background-image: url('../img/jumbotron.png');
background-position: right;
background-repeat: no-repeat;
}
.text-jumbotron{
  width: 60%;
  height: 400px;
  padding-top: 30px;
}
.text-jumbotron h1{
  font-size: 45px;
  color: #33475B;
}
.text-jumbotron span{
  display: block;
  font-size: 10px;
}
/* NOTE: /JUMBOTRON */

/* NOTE: SEZIONE POWERFUL-FREE HUBSPOT */

.infobox{
  background-color: white;
  box-shadow: 2px 1px 2px 2px lightgrey;
  border-radius: 5px;
  width: 90%;
  height: 350px;
  margin: 50px auto;
}
.infobox-left{
  width: 35%;
  height: 100%;
  float: left;
}
.infobox-right{
  width: 65%;
  height: 100%;
  float: right;
  text-align:left;
  padding-top: 65px;
}
.infobox-right h4{
  padding-top: 20px;
  display: inline-block;
}
.infobox-right hr{
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  width: 400px;
  border-top: 2px solid #899397;
}

.powerful-free-hubspot{
  height: 100%;
  background-color: #F4F9FD;
  color: #33475B;
  text-align: center;
}
.image-cube{
  width: 263px;
  height: 197px;
  margin: 35px auto;
  background-color: #F4F9FD;
  background-image: url("../img/integrations.png");
  background-size: contain;
}

.infobox-left #crm-image{
  width: 150px;
  height: 150px;
  margin-top: 30px;
  margin-left: 100px;
  background-image: url('../img/crm.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.vertical-box{
  width: 317px;
  height: 700px;
  padding: 10px;
  background-color: #FFFFFF;
  float: left;
  margin: 50px 20px;
  box-shadow: 2px 1px 2px 2px lightgrey;
  border-radius: 5px;
}
.vertical .vertical-box:first-child{
  margin-left: 0px;
}
.vertical .vertical-box:last-child{
  margin-right: 0px;
}

.small-img{
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 100px;
  text-align: center;
  width: 110px;
  height: 110px;
}
#marketing-img{
  background-image: url(../img/marketing.svg);
}
#sales-img{
  background-image: url(../img/sales.svg);
}
#service-img{
  background-image: url(../img/service-hub.svg);
}
.vertical-box h3{
  margin: 20px auto;
}
.vertical-box hr{
  margin: 40px auto;
  border-top: 2px solid #899397;
  width: 250px;
}

.list-vertical{
  list-style: none;
  margin-top: 25px;
}
.list-vertical li{
text-align: left;
}
.list-vertical a{
  text-decoration: none;
  color: #33475B;
}
.list-vertical a:hover{
  text-decoration: underline;
}

.sfondo{
  width: 100%;
  height: 750px;
  background-color: #F4F9FD;
}

.table{
  width: 100%;
  height: 1000px;
  padding-top: 40px;
  background-color: #00BBA8;
  text-align: center;
  color: #FFFFFF;
}

.row-table{
  margin-top: 50px;
}
.section-table{
  float: left;
  width: 230px;
  height: 200px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.row-table div:last-child{
  border-right: 0px;
}
.row-table-bottom div{
  border-bottom: 0px;
}
