*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #33475B;
  background-color: #F4F9FD;
}

header{
  background-color: #FFF3EE;
}

p{
  padding-top: 30px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
}

li > i{
  color: #FE775A;
  margin-right: 10px;
}

/* NOTE: CONTENITORI */
.contenitore70{
  height: 100%;
  width: 70%;
  margin: 0px auto;
}

.contenitore85{
  width: 85%;
  height: 100%;
  margin: auto;
}

.contenitore60{
  width: 60%;
  height: 100%;
  margin: auto;
  padding-top: 30px;
}


/* NOTE: /FINE CONTENITORI */


.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* NOTE: LISTE MENU' HEADER */
.list-inline{
  height: 100%;
  list-style: none;
}
.list-inline li{
  height: 100%;
  line-height: 79px;
  display: inline-block;
  padding: 0 10px;

}
.list-inline li:first-child{
  padding-left: 0;
}
.list-inline li:last-child{
  padding-right: 0;
}
.list-inline a{
  text-decoration: none;
  color: #33475B;
}
.list-inline a:hover{
  text-decoration: underline;
}
#search{
  color: #75CAD9
}
/* NOTE: /LISTE MENU' HEADER */

/* NOTE: PULSANTI */
.bottom-style{
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #FE775A;
  border-radius: 5px;
}
a.bottom-style:hover{
  text-decoration: none;
}
a.bottom-style-orange{
  background-color: #FE775A;
  color: white;
}
.bottom-style-orange:hover{
 background-color: rgba(100, 100, 100, 0.4);
}
.bottom-style-orange-big:hover{
  background-color: rgba(100, 100, 100, 0.4);
}
a.bottom-style-white{
  background: white;
  color: #FE775A;
}
.bottom-style-white:hover{
  background-color: rgba(100, 100, 100, 0.4);
}
a.bottom-style-orange-big{
  padding: 20px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}

#bottom-style-big-white{
  display: inline-block;
  padding: 10px 14px;
  margin: 10px 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #DADEE0;
  color: #32495B;
  font-size: 14px;
}
a#bottom-style-big-white{
  text-decoration: none;
}
#bottom-style-big-white:hover{
background-color: rgba(255, 255, 255, 0.4);
}
/* NOTE: /PULSANTI */

/* NOTE: HEADER */
.header-top{
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  z-index: 2;
}
.header-top-left{
  float: left;
  height: 100%;
}
.header-top-left li a{
  padding-right: 20px;
  border-right: 1px solid #33475B;
}
.header-top-left li:last-child a{
  border-right: 0;
}
.header-top-right{
  float: right;
  height: 100%;
}
.header-bottom{
  margin-top: 80px;
  height: 80px;
  width: 100%;
  background-color: white;
}
.header-bottom-left{
  float: left;
  height: 100%;
}
#logo{
  max-width: 100px;
  padding-top: 25px;
}
.header-bottom-right{
  float: right;
  height: 100%;
  padding-bottom: 50px;
}
.header-bottom-right i{
  padding-left: 15px;
}
/* NOTE: /HEADER */

/* NOTE: JUMBOTRON */
#jumbotron{
height: 695px;
background-image: url('../img/jumbotron.png');
background-position: right;
background-repeat: no-repeat;
}
.text-jumbotron{
  width: 60%;
  height: 400px;
  padding-top: 30px;
}
.text-jumbotron h1{
  font-size: 45px;
  color: #33475B;
}
.small-txt{
  display: block;
  font-size: 10px;
}
/* NOTE: /JUMBOTRON */

/* NOTE: SEZIONE POWERFUL-FREE HUBSPOT */

.infobox{
  background-color: white;
  box-shadow: 2px 1px 2px 2px lightgrey;
  border-radius: 5px;
  width: 90%;
  height: 350px;
  margin: 50px auto;
}
.infobox-left{
  width: 35%;
  height: 100%;
  float: left;
}
.infobox-right{
  width: 65%;
  height: 100%;
  float: right;
  text-align:left;
  padding-top: 65px;
}
.infobox-right h4{
  padding-top: 20px;
  display: inline-block;
}
.infobox-right hr{
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  width: 400px;
  border-top: 2px solid #899397;
}

.powerful-free-hubspot{
  height: 100%;
  background-color: #F4F9FD;
  color: #33475B;
  text-align: center;
}
.image-cube{
  width: 263px;
  height: 197px;
  margin: 35px auto;
  background-color: #F4F9FD;
  background-image: url("../img/integrations.png");
  background-size: contain;
}

.infobox-left #crm-image{
  width: 150px;
  height: 150px;
  margin-top: 30px;
  margin-left: 100px;
  background-image: url('../img/crm.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.vertical-box{
  width: 317px;
  height: 700px;
  padding: 10px;
  background-color: #FFFFFF;
  float: left;
  margin: 50px 20px;
  box-shadow: 2px 1px 2px 2px lightgrey;
  border-radius: 5px;
}
.vertical .vertical-box:first-child{
  margin-left: 0px;
}
.vertical .vertical-box:last-child{
  margin-right: 0px;
}

.small-img{
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 100px;
  text-align: center;
  width: 110px;
  height: 110px;
}
#marketing-img{
  background-image: url(../img/marketing.svg);
}
#sales-img{
  background-image: url(../img/sales.svg);
}
#service-img{
  background-image: url(../img/service-hub.svg);
}
.vertical-box h3{
  margin: 20px auto;
}
.vertical-box hr{
  margin: 40px auto;
  border-top: 2px solid #899397;
  width: 250px;
}

.list-vertical{
  list-style: none;
  margin-top: 25px;
}
.list-vertical li{
text-align: left;
}
.list-vertical a{
  text-decoration: none;
  color: #33475B;
}
.list-vertical a:hover{
  text-decoration: underline;
}

.sfondo{
  width: 100%;
  height: 750px;
  background-color: #F4F9FD;
}

.table{
  width: 100%;
  height: 700px;
  padding-top: 40px;
  background-color: #00AFB1;
  text-align: center;
  color: #FFFFFF;
}

.row-table{
  margin-top: 50px;
}
.section-table{
  float: left;
  width: 230px;
  height: 200px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.row-table div:last-child{
  border-right: 0px;
}
.row-table-bottom div{
  border-bottom: 0px;
}
.row-table-bottom .section-table .contenitore60:first-child img{
  max-width: 150px;
}
.section-table h2{
  text-align: center;
  font-size: 30px;
  padding-top: 10px;

}
.section-table span{
  font-size: 12px;
}

.customers{
  width: 100%;
  height: 100%;
}
.customers-top{
  padding-top: 40px;
}
.customers-top-left{
  float: left;
  width: 30%;
  height: 100%;
  padding: 50px 50px;
}
.customers-top-left h2{
  font-size: 50px;
}
.customers-top-right{
  float: right;
  width: 70%;
  height: 100%;
  padding-top: 50px;
}
.logo{
  display: inline;
  height: 80px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
  margin-bottom: 20px;
  float: right;
}
#shopify{
  background-image: url("../img/shopify.png");
}
#usabilia{
  background-image: url("../img/usabilia.png");
}
#tufts{
  background-image: url("../img/tufts.png");
}
#iadvize{
  background-image: url("../img/iadvize.png");
}
#mention{
  background-image: url("../img/mention.webp");
}
#care{
  background-image: url("../img/care.png");
}
#scrive{
  background-image: url("../img/scrive.png");
}
#randstad{
  background-image: url("../img/Randstad-logo_main_99ACC2.png");
}
.customers-bottom{
  position: relative;
}
.customers-bottom-left{
  width: 40%;
  height: 400px;
  padding-top: 60px;
}
.customers-bottom-left h2{
  font-size: 30px;
}

.customers-bottom-right{
  position: absolute;
  bottom: 50px;
  right: 25px;
  padding-top: 200px;
}
.customers-bottom-right img{
  max-width: 300px;
}

footer{
  position: relative;
  width: 100%;
  height: 650px;
  background-color: #32495B;
  color: black;
}

.footer-top{
  width: 100%;
  height: 70%;
}

.container-list{
  width: 25%;
  height: 100%;
  padding: 15px;
  margin-top: 25px;
  background-color: #32495B;
  float: left;
  color: #CBD6E2;
}
.container-list h5{
  margin: 10px 15px;
}

.footer-bottom{
  margin: auto;
  width: 50%;
  height: 30%;
}

.footer-list li{
  padding: 10px 15px;
  list-style: none;
  font-size: 14px;
}
.footer-list a{
  text-decoration: none;
  color: white;
}
.footer-list a:hover{
  text-decoration: underline;
}

.loghi-social li{
  display: inline-block;
  font-size: 14px;
}
.loghi-social a:hover{
  color: lightblue;
}

.under-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #32495B;
}
.under-footer hr{
  width: 85%;
  margin: auto;
}
.under-footer-left{
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 50%;
  height: 80%;
}
.copyright{
  display: block;
  color: white;
  font-size: 15px;
}
.under-footer-right{
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 18%;
  height: 70%;
}
