*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #33475B;
}

.container-70{
  width: 70px;
  height: 100%;
  margin: 0 auto;
}

.list-inline{
  height: 100%;
  list-style: none;
}
.list-inline li{
  height: 100%;
  display: inline-block;
  padding: 0 10px;
}


header{
  height: 700px;
  background-color: yellow;
}

.header-top{
  height: 80px;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
}
.header-top-left{
  float: left;
  height: 100%;

}
.header-top-right{
  float: right;
  height: 100%;

}

.header-bottom{
  height: 80px;
  background-color: white;
}


main{
  height: 1600px;
  background-color: pink;
}

footer{
  height: 800px;
  background-color: purple;
}
